{% extends 'base.html' %}

{% block body %}

{% if user.is_authenticated %}
    <form id="search_form" action="{% url 'search' %}" method="Post">
            {% csrf_token %}
{#            <input name="search_query">#}
            <input name="search_query">
{#            <input type="checkbox" name="department">#}
{#            <input type="checkbox" name="teacher">#}
{#            <input type="checkbox" name="course">#}


            <button name="submit">submit</button>
        </form>
    {% if result  %}
    <div id="search_result">

            {% for res in result %}
                  <div class="{{ res.course_number }}_{{ res.group_number }}">
                        {{ res.name }}
                       {{res.teacher}}

                    </div>
            {% endfor %}

    </div>
    {% endif %}

    {% if courses %}
    <div id="all_courses">
        {% for course in courses %}

                <div class="{{ course.course_number }}_{{ course.group_number }}">

                        <h4>{{ course.name }}</h4>

                        <div>{{course.department}}</div>
                    {% if course.first_day == course.second_day %}
                        <div>{{ course.first_day }}</div>
                    {% else %}
                        <div>{{course.first_day}}  {{ course.second_day }}</div>
                    {% endif %}

                        <div>{{course.end_time}}  {{ course.start_time }}</div>
                        <div>{{course.teacher}}</div>
                    <form action="{% url '' %}" method="post">
                        <input type="hidden" name="unit" value="{{ course.id }}">
                        <button type="button"> ثبت درس  </button>
                    </form>
                    {% if units %}
                        <div id="my_courses">
                            {% for unit in units %}
                                {{ unit }}
                                <a class="add"></a>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
        {% endfor %}
    </div>
    {% endif %}



{% else %}
            login first !!
{% endif %}

{% endblock %}