{% extends 'base.html' %}


{% block body %}
{#    <a id="make_new_course" href="{% url 'new_course' %}">new course‬‬</a>#}

    {% if user.is_authenticated %}
        {% if user.is_superuser  %}

                <a href="{% url 'new_course' %}" id="make_new_course" class="btn btn-success mx-auto">

                    ساختن واحد جدید
                </a>

        {% endif %}

        <a href="{% url 'courses' %}" id="courses" class="btn btn-primary mx-auto">

            مشاهده واحد ها
        </a>
    {% else%}

            login first !!

    {% endif %}
{% endblock %}