
{% extends 'base.html' %}


{% block body %}
        <div id="error">
            {% if error %}
            {{ error }}
        {% endif %}
        </div>
    <form action="{% url 'login' %}" method="post" id="login_form">

        {% csrf_token %}



        username:<br>
        <input type="text"  name="username" >
        <br>
        password:<br>
        <input type="password"  name="password" >
        <br><br>
        <button  type="submit" value="Submit">submit</button>
</form>


{% endblock body %}



